@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --font-display: "Roboto", sans-serif;
  --color-primary-500: #ff6636;
  --color-primary-300: #ffeee8;
  --color-primary-200: #fed1a5;
  --color-gray: #99a1af;
  --color-heading: #1d2026;
}
